*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    background-color: #ecf0f3;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    grid-template-areas: "calculator" "result";
}


    
 .calculator{

    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
    grid-area: calculator;

 }   

 input {

    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px 5px 12px rgba(0,0,0.16);
    border: none; 
    border-radius: 30px;
    color: rgb(70, 70, 70);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
   



 }

 button {

    height: 48px;
    width: 48px;
    border-radius: 50%;
    border:none;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px 5px 12px rgba(0,0,0.16);
    margin: 8px;
    font-size: 16px;
    font-weight: bold;
 }


 .result {
   grid-area: result;
   text-align: center;
   font-size: 24px;
   margin-top: 40px;
   height: 25vh;

}


